<!DOCTYPE html>
<html leng='pt' ng-app='happenApp'>
<head>
	<title>Happen Ringue</title>

	<meta charset="UTF-8">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<!-- CSS files -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/hr-style.css">
	<!-- Javascript files -->
	<script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</head>
<body>
	<div class="container-fluid hr-root" ng-controller='RingueController'>
		<header class="hr-header">
			<h1>Happen Ringue</h1>
		</header>

		<div class="row">
			<div class="col-md-2 hr-visor">
				<span ng-bind="tempo"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input class="fomr-input" style="border-radius: 10px; width: 40px;" type="text" ng-model="tempoInicial">
				<button class="btn btn-success" ng-if="!iniciado" ng-click="comecar()">Começar</button>
				<button class="btn btn-warning" ng-if="!pausa" ng-click="parar()">Parar</button>
				<button class="btn btn-info" ng-if="pausa" ng-click="retomar()">Retomar</button>
				<button class="btn btn-danger" ng-click="reiniciar()">Reiniciar</button>
				<button ng-click="tocar()">Tocar audio</button>
			</div>
		</div>
	</div>
</body>
</html>